:root {
  --acсent: #5a0d67;
  --accent-secondary: #21062a;
  --white: #ffffff;
  --gray: #c4c4c4;
  --black: #2c2b2b;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: var(--black);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  outline: none;
  outline-color: var(--acсent);
}

.container {
  max-width: 1220px;
  min-width: 320px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
}

button {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

input {
  outline: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: var(--white);
}

.visuality-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.accent {
  color: var(--acсent);
}

/* header */

.header {
  background: url(../images/header-bg.jpg) no-repeat center / cover;
  margin-bottom: 300px;
}

.header__top {
  padding-top: 47px;
  margin-bottom: 105px;
}

.header__top-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  color: var(--white);
}

.header__content-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 72px;
  line-height: 0.76;
  color: var(--white);
  margin-bottom: 30px;
}

.header__content-title span {
  font-size: 36px;
}

.header__content-text {
  color: var(--white);
  margin-bottom: 30px;
}

.anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  font-size: 14px;
  color: var(--white);
  background-color: var(--acсent);
  text-transform: uppercase;
  transition: all 0.3s;
}

.anchor:hover,
.anchor:focus {
  background-color: var(--white);
  color: var(--acсent);
}

.services-anchor {
  border: 1px solid transparent;
  transition: color 0.3s, background-color 0.3s;
}

.services-anchor:hover,
.services-anchor:focus {
  border-color: var(--acсent);
}

.header__social-media {
  margin-top: 70px;
  margin-left: 66px;
  padding-bottom: 70px;
}

.social-media {
  display: flex;
}

.social-media__item {
  margin-right: 10px;
}

.social-media__item:last-of-type {
  margin-right: 0;
}

.header__content-img {
  position: absolute;
  right: 0;
  bottom: -200px;
}

/* services */

.services {
  margin-bottom: 100px;
}

.h2::after {
  position: absolute;
  content: '';
  background-color: var(--accent-secondary);
  width: 80px;
  height: 3px;
  top: 20px;
  margin-left: 20px;
}

.h2 {
  position: relative;
  font-size: 36px;
  line-height: 1.5;
  color: var(--accent-secondary);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.services__inner {
  display: flex;
  gap: 100px;
}

.services__list {
  max-width: 504px;
  margin-bottom: 50px;
}

.services__item:not(:last-of-type) {
  margin-bottom: 70px;
}

.services__item-title {
  font-weight: 300;
}

.services__item-text:not(:last-of-type) {
  margin-bottom: 12px;
}

.services-anchor {
  position: relative;
  border: 1px solid transparent;
  transition: color 0.3s, background-color 0.3s;
}

.services-anchor:hover,
.services-anchor:focus {
  border-color: var(--acсent);
}

.services-anchor::after {
  content: 'ЖМИ';
  position: absolute;
  color: var(--gray);
  right: -110px;
}

.services-anchor::before {
  content: '';
  position: absolute;
  background-color: var(--gray);
  width: 80px;
  height: 1px;
  top: 50%;
  right: -75px;
}

.services__steps {
  display: flex;
  flex-direction: column;
  gap: 12px;
  counter-reset: my-counter;
}
.services__step {
  position: relative;
  cursor: pointer;
  border: 2px solid var(--gray);
  counter-increment: my-counter;
  padding: 10px 10px 10px 113px;
  width: 450px;
  transition: width 0.3s;
}

.services__step:hover {
  border: 2px solid var(--acсent);
  width: 500px;
}

.services__step:hover .services__step-title {
  color: var(--acсent);
}

.services__step:hover::before {
  color: var(--acсent);
}

.services__step::before {
  position: absolute;
  content: '0' counter(my-counter);
  font-weight: 400;
  font-size: 36px;
  color: var(--gray);
  top: 50%;
  transform: translate(-75px, -50%) rotate(-90deg);
  transition: color 0.3s;
}

.services__step:nth-of-type(n + 10)::before {
  content: counter(my-counter);
}

.services__step-title {
  font-size: 24px;
  transition: color 0.3s;
}

/* benefits */

.benefits {
  margin-bottom: 100px;
}

.benefits__inner {
  display: flex;
}

.benefits__img {
  max-height: 606px;
  margin-right: 95px;
}
.benefits__title {
  margin-left: 185px;
}

.benefits__content {
  width: 100%;
}

.benefits__content-title {
  color: var(--white);
  font-weight: 400;
  font-size: 36px;
  line-height: 0.9;
}

.benefits__content-title span {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
}

.benefits__content-list {
  background-color: var(--accent-secondary);
  padding: 30px 0 45px 185px;
}

.benefits__content-item {
  max-width: 316px;
}

.benefits__content-item:not(:last-of-type) {
  margin-bottom: 20px;
}

.benefits__content-text {
  color: var(--gray);
}

.benefits__content-text:not(:last-of-type) {
  margin-bottom: 10px;
}

/* cars */

.cars {
  margin-bottom: 150px;
}

.cars__slider {
  display: flex;
  margin: 0 -7px;
}

.cars__item {
  width: calc((100% - 28px) / 3);
  border: 1px solid var(--gray);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  margin: 0 7px;
}

.cars__item:hover {
  background-color: var(--acсent);
  color: var(--white);
  border-color: var(--acсent);
}

.cars__item-img {
  width: 100%;
  padding: 5px;
  max-height: 250px;
}

.cars__item-content {
  padding: 15px 10px;
  text-align: center;
}

.cars__item-title {
  margin-bottom: 5px;
}

.slick-dots {
  position: absolute;
  display: flex;
  left: 50%;
  bottom: -56px;
  transform: translateX(-50%);
}

.slick-dots li {
  cursor: pointer;
  margin-right: 20px;
}

.slick-dots li:last-of-type {
  margin-right: 0px;
}

.slick-dots button {
  font-size: 0;
  width: 50px;
  height: 1px;
  background-color: var(--gray);
  transition: all 0.3s;
}

.slick-dots .slick-active button {
  background-color: var(--acсent);
  height: 3px;
}

/* contacts */

.contacts-form__inner {
  display: flex;
}

.contacts {
  padding-bottom: 56px;
  max-width: 600px;
  flex-grow: 1;
}

.contscts__title {
  padding-top: 50px;
}

.contscts__title.h2::after {
  top: 70px;
}

.contacts__address {
  font-style: normal;
}

.contacts__address-item:not(:last-of-type) {
  margin-bottom: 20px;
}

.form {
  background-color: var(--accent-secondary);
  max-width: 600px;
  flex-grow: 1;
}

.form__title {
  color: var(--white);
  width: 343px;
  padding-top: 50px;
  margin: 0 auto 16px;
}

.form__title::after {
  background-color: var(--white);
  margin-left: 7px;
  top: 70px;
}

.form__area {
  padding: 0 75px;
  text-align: center;
}

.form__area-item:not(:last-of-type) {
  margin-bottom: 12px;
}

.form__area-item {
  position: relative;
}

.form__label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--gray);
  transition: font-size 300ms, top 300ms;
  cursor: text;
}

.form__input {
  left: 0;
  background-color: transparent;
  border: 1px solid var(--white);
  height: 75px;
  width: 100%;
  padding: 0 10px;
  font-size: 1px;
  transition: border-color 300ms, font-size 500ms;
}

.form__input:focus {
  border: 1px solid var(--acсent);
  font-size: 18px;
}

.form__input:not(:placeholder-shown) {
  font-size: 18px;
}

.form__input:not(:placeholder-shown):invalid {
  border-color: red;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  font-size: 14px;
  top: 12px;
}

.form__btn {
  margin-top: 78px;
}

.footer {
  background-color: var(--accent-secondary);
}
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.privacy-policy {
  color: var(--white);
}

@media only screen and (max-width: 1125px) {
  .services__inner {
    gap: 50px;
  }
  .services__list {
    max-width: 450px;
  }
  .services__step:hover {
    width: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    margin-bottom: 250px;
  }
  .h2 {
    text-align: center;
  }
  .header__content-img {
    width: 610.5px;
    height: 346.5px;
    bottom: -150px;
  }
  .services__inner {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  .services__list {
    text-align: center;
  }
  .services__steps {
    max-width: 450px;
  }
  .anchor.services-anchor {
    margin: 0 auto;
  }
  .benefits__title {
    margin-left: 0;
  }
  .benefits__content-list {
    text-align: center;
    padding: 30px 0 45px 0px;
}
.benefits__content-item {
  margin: 0 auto -20px auto;
}
.benefits__img {
  width: 240px;
  height: 455px;
  margin-top: 105px;
  margin-right: 50px;
}
}

@media only screen and (max-width: 750px) {
  .benefits__img  {
    display: none;
  }
}

@media only screen and (max-width: 840px) {
  .header__top {
    padding-top: 40px;
    margin-bottom: 80px;
  }
  .header__content {
    text-align: center;
  }
  .header__bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 230px;
  }
  .header__social-media {
    margin: 0;
    padding: 0;
  }
  .header__social-media .social-media {
    justify-content: center;
  }
  .header__content-img {
    right: 50%;
    transform: translateX(50%);
  }
  .header__content-title {
    font-size: 62px;
  }
  .header__content-title span {
    font-size: 31px;
  }
  .header .anchor {
    width: 250px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 675px) {
  .header {
    margin-bottom: 200px;
  }
  .header__bottom {
    padding-bottom: 170px;
  }
  .header__content-title {
    font-size: 52px;
    line-height: 0.9;
  }
  .header__content-title span {
    font-size: 26px;
  }
  .header__content-img {
    width: 458px;
    height: 260px;
    bottom: -115px;
  }
  .phone {
    font-size: 30px;
  }
  .header__content-text {
    font-size: 16px;
  }
}

@media only screen and (max-width: 574px) {
  .header__content-title {
    font-size: 42px;
  }
  .header__content-title span {
    font-size: 21px;
  }
  .header__content-text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 475px) {
  .header {
    margin-bottom: 150px;
  }
  .header__bottom {
    padding-bottom: 125px;
  }

  .phone {
    font-size: 12px;
  }

  .header__content-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .header__content-title span {
    font-size: 14px;
  }

  .header__content-text {
    margin-bottom: 20px;
    font-size: 10px;
  }

  .header__content-img {
    width: 305px;
    height: 173px;
    bottom: -75px;
  }
  .services__step {
    width: 100%;
  }
  .h2 {
    font-size: 28px;
  }
  .h2::after {
    width: 60px;
    margin-left: 15px;
  }
  .services-anchor::after {
    display: none;
  }
  .services-anchor::before {
    display: none;
  }
}
