:root {
  --acсent: #5a0d67;
  --accent-secondary: #21062a;
  --white: #ffffff;
  --gray: #c4c4c4;
  --black: #2c2b2b;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: var(--black);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  outline: none;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
}

img {
  display: block;
}

/* header */

.header {
  background: url(../images/header-bg.jpg) no-repeat center / cover;
  margin-bottom: 300px;
}

.header__top {
  padding-top: 47px;
  margin-bottom: 105px;
}

.header__top-list {
  display: flex;
  justify-content: space-between;
}

.phone {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.5;
  color: var(--white);
}

.header__content-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 72px;
  line-height: 0.76;
  color: var(--white);
  margin-bottom: 30px;
}

.header__content-title span {
  font-size: 36px;
}

.header__content-text {
  color: var(--white);
  margin-bottom: 30px;
}

.anchor {
  font-size: 14px;
  color: var(--white);
  background-color: var(--acсent);
  text-transform: uppercase;
  padding: 14px 54px 15px 55px;
  transition: all 0.3s;
}

.anchor:hover,
.anchor:focus {
  background-color: var(--white);
  color: var(--acсent);
}

.services-anchor {
  border: 1px solid transparent;
  transition: color 0.3s, background-color 0.3s;
}

.services-anchor:hover,
.services-anchor:focus {
  border-color: var(--acсent);
}

.header__social-media {
  margin-top: 70px;
  margin-left: 66px;
  padding-bottom: 70px;
}

.social-media {
  display: flex;
}

.social-media__item {
  margin-right: 10px;
}

.social-media__item:last-of-type {
  margin-right: 0;
}

.header__content-img {
  position: absolute;
  right: 0;
  bottom: -200px;
}

/* services */

.services {
  margin-bottom: 100px;
}

.h2::after {
  position: absolute;
  content: "";
  background-color: var(--accent-secondary);
  width: 80px;
  height: 3px;
  top: 20px;
  margin-left: 20px;
}

.h2 {
  position: relative;
  font-size: 36px;
  line-height: 1.5;
  color: var(--accent-secondary);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.services__inner {
  display: flex;
  gap: 100px;
}

.services__list {
  max-width: 504px;
  margin-bottom: 50px;
}

.services__item:not(:last-of-type) {
  margin-bottom: 70px;
}

.services__item-title {
  font-weight: 300;
  color: var(--acсent);
}

.services__item-text:not(:last-of-type) {
  margin-bottom: 12px;
}

.services-anchor {
  position: relative;
  border: 1px solid transparent;
  transition: color 0.3s, background-color 0.3s;
}

.services-anchor:hover,
.services-anchor:focus {
  border-color: var(--acсent);
}

.services-anchor::after {
  content: "ЖМИ";
  position: absolute;
  color: var(--gray);
  margin-left: 139px;
}

.services-anchor::before {
  content: "";
  position: absolute;
  background-color: var(--gray);
  width: 80px;
  height: 1px;
  top: 50%;
  right: -75px;
}

.services__steps {
  display: flex;
  flex-direction: column;
  gap: 12px;
  counter-reset: my-counter;
}
.services__step {
  position: relative;
  cursor: pointer;
  border: 2px solid var(--gray);
  counter-increment: my-counter;
  padding: 10px 10px 10px 113px;
  width: 450px;
  transition: width 0.3s;
}

.services__step:hover {
  border: 2px solid var(--acсent);
  width: 500px;
}

.services__step:hover .services__step-title {
  color: var(--acсent);
}

.services__step:hover::before {
  color: var(--acсent);
}

.services__step::before {
  position: absolute;
  content: "0" counter(my-counter);
  font-weight: 400;
  font-size: 36px;
  color: var(--gray);
  top: 50%;
  transform: translate(-75px, -50%) rotate(-90deg);
  transition: color 0.3s;
}

.services__step:nth-of-type(n + 10)::before {
  content: counter(my-counter);
}

.services__step-title {
  font-size: 24px;
  transition: color 0.3s;
}

/* benefits */

.benefits {
  margin-bottom: 100px;
}

.benefits__inner {
  display: flex;
}

.benefits__img {
  max-height: 606px;
  margin-right: 95px;
}
.benefits__title {
  margin-left: 185px;
}

.benefits__content {
  width: 100%;
}

.benefits__content-title {
  color: var(--white);
  font-weight: 400;
  font-size: 36px;
  line-height: 0.9;
}

.benefits__content-title span {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
}

.benefits__content-list {
  background-color: var(--accent-secondary);
  padding: 30px 0 45px 185px;
}

.benefits__content-item {
  max-width: 316px;
}

.benefits__content-item:not(:last-of-type) {
  margin-bottom: 20px;
}

.benefits__content-text {
  color: var(--gray);
}

.benefits__content-text:not(:last-of-type) {
  margin-bottom: 10px;
}

/* cars */

.cars {
  margin-bottom: 100px;
}

.cars__slider {
  display: flex;
  gap: 14px;
}

.cars__item {
  width: calc((100% - 28px) / 3);
  border: 1px solid var(--gray);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.cars__item:hover {
  background-color: var(--acсent);
  color: var(--white);
}

.cars__item-img {
  width: 100%;
  padding: 5px;
}

.cars__item-content {
  padding: 15px 10px;
  text-align: center;
}

.cars__item-title {
  margin-bottom: 5px;
}

.cars__item-text {
}
